.wf-notosansjapanese { font-family: "Noto Sans JP"; }

nav div ul li{
  margin-left: 20px;
  margin-right: 20px;
}

table{
  font-size: 1.3em;
}

a{
  color:unset;
}
a:link{
  text-decoration: none;
}

a:hover,a:active{
  opacity: .7;
}

.wrapper {
  margin: 15px auto;
  max-width: 700px;
}

.container-calendar {
  background: #ffffff;
  padding: 40px 20px;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}
.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar th,
.table-calendar td{
  padding: 10px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

/* 今日 */
.today {
  font-weight: bold;
  color: #fff;
  background: #cc0000;
}
.today span {
  border-bottom: 2px solid currentColor;
}
/* 日曜 */
.red {
color: red;
}
/* 土曜 */
.blue {
color: blue;
}
/* 過去日 */
.past {
  opacity: 0.4;
  pointer-events: none;
	cursor: default;
}

.btn{
  margin-left: 25px;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}
.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #454545;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

.btn-primary{
  margin: 15px 20px;
}

.userform{
  margin: 20px;
  padding: 10px;
}
h5{
  margin: 10px 0 20px 0;
  font-size: medium;
}

.error{
  color: red;
  font-weight: bold;
  font-size: medium;
}

.sorry{
  margin: 10px;
}

.result{
  font-size: 18px;
  color: #454545;
}

.thx{
  margin-bottom: 30px;
  font-size: 20px;
}

.thxbtn{
  margin-left: 50px;
}

.reservedate{
  list-style: none;

}

.reserve_list{
  padding: 0;
}

.reserved{
  width: 350px;
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: large;
  background: #dbedf8;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 15px 15px 15px;/*左側の角丸く*/
}

.reserved:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}

.delete{
  position: absolute;
  right: 30px;
  color: darkblue;
}

.col-sm-2{
  white-space: nowrap;
}

.reserve_th{
  padding: 0;
  font-size: 16px;
}
.reserve_td{
  padding: 0;
  font-size: 16px;
}